---
import Layout from "../layouts/Layout.astro";

import PageTitle from "../components/PageTitle.astro";
import AboutSection from "../components/AboutSection.astro";
import InterestsSection from "../components/InterestsSection.astro";

const interests = [
  { icon: "bi bi-git", name: "Git" },
  { icon: "bi bi-code", name: "Programming" },
  { icon: "bi bi-laptop", name: "Web Development" },
  { icon: "bi bi-terminal", name: "CLI" },
];
---

<Layout>
  <PageTitle title="About" description="Get to know about me." />

  <div class="container mb-3">
    <div class="alert alert-light" role="alert">
      <h4 class="alert-heading">Alert!</h4>
      This section is work-in-progress.
    </div>
  </div>

  <AboutSection image="/assets/img/profile-img.jpg">
    <h2>Hi there! 👋</h2>
    <p>
      I'm Hendra Manudinata, but you can call me Hendra. I'm a student and
      computer hobbyist from Indonesia. Currently I'm in High School and
      developing some personal projects in my free time.
    </p>
    <p>
      I started learning programming languages since I was in 4th grade. During
      the COVID-19 pandemic, I improved my programming skills by more popular
      languages e.g. Python, and C++. Right now, I'm learning JavaScript for web
      development, as well as web frameworks such as Vue, Astro, etc.
    </p>
  </AboutSection>

  <InterestsSection interests={interests} />
</Layout>
