---
import Layout from "../layouts/Layout.astro";

import About from "../components/About.astro";
import Interests from "../components/Interests.astro";
import Projects from "../components/Projects.astro";

const links = [
  { icon: "bi bi-github", url: "https://github.com/manoedinata" },
  { icon: "bi bi-linkedin", url: "https://www.linkedin.com/in/manoedinata/" },
  { icon: "bi bi-instagram", url: "https://instagram.com/manoedinata" },
];

const interests = [
  { icon: "bi bi-git", name: "Git" },
  { icon: "bi bi-code", name: "Programming" },
  { icon: "bi bi-laptop", name: "Web Development" },
  { icon: "bi bi-terminal", name: "CLI" },
];

const allProjects = Object.values(
  await import.meta.glob("./projects/*.md", { eager: true }),
);
---

<Layout>
  <section id="hero" class="hero section dark-background">
    <img src="/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" />

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h2>
        <span
          class="typed"
          data-typed-items="Hendra Manudinata, Hendra, <i>manoedinata.</i>"
          >Hendra Manudinata</span
        >
        <span class="typed-cursor typed-cursor--blink"></span>
      </h2>
      <p>Student by day, <span>ambitious developer by night.</span></p>
      <div class="social-links">
        {
          links.map(({ icon, url }) => (
            <a href={url} target="_blank">
              <i class={icon} />
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <About>
    <h1>Hi there! 👋</h1>
    <p class="fs-5">
      I'm Hendra Manudinata, but you can call me Hendra. I'm a student and
      computer hobbyist from Indonesia. Currently I'm in High School and
      developing some personal projects in my free time.
    </p>
    <p class="fs-5">
      I started learning programming languages since I was in 4th grade. During
      the COVID-19 pandemic, I improved my programming skills by more popular
      languages e.g. Python, and C++. Right now, I'm learning JavaScript as well
      as web frameworks such as Vue, Astro, etc.
    </p>
    <p class="fs-5">
      I have many interests of technology. While I'm currently learning web
      development, I also interested in the field of cyber security and Internet
      of Things (IoT).
    </p>
  </About>

  <Interests interests={interests} />

  <Projects projects={allProjects} />
</Layout>
