---
const { interests } = Astro.props;
---

<!-- Interests Section -->
<section id="interests" class="interests section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Interests</h2>
    <div>
      <span>I'm</span>
      <span class="description-title">interested in</span>
    </div>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      {
        interests.map((interest: any, index: number) => (
          <div
            class="col-lg-3 col-md-4"
            data-aos="fade-up"
            data-aos-delay={100 * index + 1}
          >
            <div class="features-item">
              <i class={interest.icon} style="color: #ffbb2c;" />
              <h3>
                <a href="" class="stretched-link">
                  {interest.name}
                </a>
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section><!-- /Interests Section -->
