---
const { title, date, description, image, center } = Astro.props;
---

<!-- Page Title -->
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      {
        image && (
          <div class="col-12 justify-content-center text-center mb-5">
            <img src={image} class="img-fluid" alt="" style="width: 60rem;" />
          </div>
        )
      }
      <div
        class=`row d-flex justify-content-center ${center ? 'text-center' : ''}`
      >
        <div class="col-lg-8">
          <h1>{title}</h1>
          {
            date && (
              <p>
                <i class="bi bi-clock" />
                {date}
              </p>
            )
          }
          {description && <p class="mb-0">{description}</p>}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->
