---
import PageTitle from "../components/PageTitle.astro";
import Layout from "./Layout.astro";

import { getFormattedDate } from "../utils/date";

const { frontmatter } = Astro.props;
---

<Layout>
  <PageTitle
    title={frontmatter.title}
    date={getFormattedDate(frontmatter.date)}
    image={frontmatter.image}
  />

  <section id="posts" class="section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-8 article-content">
          <slot />
        </div>
      </div>

      <!-- Giscus comment -->
      <script
        src="https://giscus.app/client.js"
        data-repo="manoedinata/manoedinata.github.io"
        data-repo-id="R_kgDON-LquQ"
        data-category="Q&A"
        data-category-id="DIC_kwDON-Lquc4Cnkzs"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async></script>
    </div>
  </section>
</Layout>
